<div class="card text-center">
  <h2 class="card-header">{{comment.title}}</h2>
  <div class="card-body">
    <p>{{comment.content}}</p>
    <p class="card-footer">Posted by {{comment.user.user_name}} on {{format_date comment.date_created}}</p>


